<h1> List of Stations </h1>

<p> <%= @station_results["station_counts"]["total"] %> Results </p>

<div>
  <div class = "station">
    <% @station_results["fuel_stations"].each do |station| %>
    <div class = "name">
      <%= station["station_name"] %>
    </div>
    <div class = "address">
      <%= station["city"] %>
    </div>
    <div class = "fuel type">
      <%= station["fuel_type_code"] %>
    </div>
    <div class = "distance">
      <%= station["latitude"] %>
    </div>
    <div class = "access times">
      <%= station["access_days_time"] %>
    </div>
  </div>
</div>
