<h1> List of Stations </h1>

<p> <%= @station_results.count %> Results </p>

<div>
  <div class = "station">
    <% @station_results.each do |station| %>
    <div class = "name">
      <%= station.name %>
    </div>
    <div class = "address">
      <%= station.name %>
    </div>
    <div class = "fuel type">
      <%= station.name %>
    </div>
    <div class = "distance">
      <%= station.name %>
    </div>
    <div class = "access times">
      <%= station.name %>
    </div>
  </div>
</div>
