<h1> List of Stations </h1>

<p> 10 Closest Stations </p>

<div>
  <div class = "station">
    <% @stations_list.each do |station| %>
    <div class = "name">
      Station Name: <%= station["station_name"] %>
    </div>
    <div class = "address">
      Street: <%= station["street_address"] %>
      City: <%= station["city"] %>
    </div>
    <div class = "fuel type">
      Fuel Type: <%= station["fuel_type_code"] %>
    </div>
    <div class = "distance">
      Distance: <%= station["distance"] %>
    </div>
    <div class = "access times">
      Access Times: <%= station["access_days_time"] %>
    </div>
  </br>
    <% end %>
  </div>
</div>
